// === Main variables

// Printing Format (without bleeds)
@sheet-width:  420mm;
@sheet-height: 297mm;

// Final Format
@page-width:  210mm;
@page-height: 297mm;

// Margins
@cover-margin-top:     20mm;
@cover-margin-outside: 20mm;
@cover-margin-bottom:  20mm;
@cover-margin-inside:  20mm;

@page-margin-top:      20mm;
@page-margin-outside:  20mm; // outside is right if not facing page
@page-margin-bottom:   20mm;
@page-margin-inside:   20mm; // inside is left if not facing page

// Not implement for now.
// @cover-bleeds-top:     3.2mm;
// @cover-bleeds-outside: 3.2mm;
// @cover-bleeds-bottom:  3.2mm;
// @cover-bleeds-inside:  3.2mm;

// @page-bleeds-top:      3.2mm;
// @page-bleeds-outside:  3.2mm;
// @page-bleeds-bottom:   3.2mm;
// @page-bleeds-inside:   3.2mm;

// === Additionnal variables

@interface-padding: 1cm;
@interface-scale: .75; // From 0 to 1
@interface-transition-speed: .1s;
