/* =Pantoufle
 * v0.3.
 * ---------------------------------------------------------------------------*/
/* =Screen
*/
@media screen {
  *,
  *::after,
  *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    margin: 0;
    min-width: 88mm;
    background-color: #606060;
  }
  body:before,
  body:after {
    content: " ";
    display: table;
  }
  body:after {
    clear: both;
  }
  body:before,
  body:after {
    content: " ";
    display: table;
  }
  body:after {
    clear: both;
  }
}
/* =Print
*/
@media print {
  *,
  *::after,
  *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @page {
    size: portrait;
    margin: 0mm;
  }
  html,
  body {
    background-color: transparent;
    margin: 0;
  }
  .page {
    width: 100vw;
    height: 100vh;
  }
}
.page {
  position: relative;
  float: left;
  width: 58mm;
  height: auto;
  overflow: hidden;
}
.page .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 9mm);
  height: calc(100% - 10mm);
}
@media screen {
  .page {
    margin-top: 1cm;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
    box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page:first-of-type {
    margin-right: 1cm !important;
    margin-left: 1cm !important;
  }
  .page:last-of-type {
    margin-bottom: 1cm;
  }
  .page::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 5mm;
    bottom: 5mm;
    border: 1px solid;
    border-color: #60c600 #738a5e;
    pointer-events: none;
  }
}
.page .content {
  margin-top: 5mm;
  margin-bottom: 5mm;
}
.page .content {
  margin-left: 4.5mm;
  margin-right: 4.5mm;
}
@media screen {
  .page::before {
    left: 4.5mm;
    right: 4.5mm;
  }
}
.page--cover {
  position: relative;
  float: left;
  width: 58mm;
  height: auto;
  overflow: hidden;
}
.page--cover .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 9mm);
  height: calc(100% - 10mm);
}
@media screen {
  .page--cover {
    margin-top: 1cm;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
    box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page--cover:first-of-type {
    margin-right: 1cm !important;
    margin-left: 1cm !important;
  }
  .page--cover:last-of-type {
    margin-bottom: 1cm;
  }
  .page--cover::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 5mm;
    bottom: 5mm;
    border: 1px solid;
    border-color: #60c600 #738a5e;
    pointer-events: none;
  }
}
.page--cover .content {
  margin-top: 5mm;
  margin-bottom: 5mm;
}
.page--cover .content {
  margin-left: 4.5mm;
  margin-right: 4.5mm;
}
@media screen {
  .page--cover::before {
    left: 4.5mm;
    right: 4.5mm;
  }
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media screen {
  body {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
  body .page::before {
    -webkit-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
  body.preview {
    background-color: #bababa;
  }
  body.preview .page::before {
    opacity: 0;
  }
}
