.page {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.header {
  background-color: #eee;
  padding: 1px 1em 1em 1em;
}

sup {
  font-size: .7em;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 11px;
  line-height: 1.2;
}

h5 {
  margin-top: 2em;
  margin-bottom: .2em;
}
p {
  margin-top: .2em;
  margin-bottom: .2em;
}

h5.lh, h5.lh + p {
  font-family: 'Crimson Text', serif;
}
h5.lh + p {
  font-size: 1.3em;
  line-height: 1.3;
}

.voiceover {
  margin-top: 4em;
}
.voiceover p {
  font-style: italic;
}
.voiceover p::before {
  display: block;
  content: '*';
  text-align: center;
  margin: 1em 0;
}

footer {
  margin-top: 4em;
  font-size: 11px;
  line-height: 1.2;
}
